{% extends "base.html" %}

{% block body %}
<div class="w3-container w3-mobile">
    <h1>To Do List</h1>
    <div class="w3-container">
        <ol>
            {% for task in tasks_list %}
                <li>{{ task }}</li>
            {% empty %}
                <h2>No Tasks yet.</h2>
            {% endfor %}
        </ol>
    </div>
    <div class="w3-container">
        <a class="w3-button w3-black w3-round-large w3-mobile" href="{% url 'tasks_app:delete' %}">
            Delete The List
        </a>
    </div>
</div>

{% endblock body %}